/*一些基本設定*/

@import url(http://fonts.googleapis.com/earlyaccess/notosanskannada.css);
* {
    font-size: 14px;
    letter-spacing: 2px;
    font-family: 'Noto Sans Kannada', sans-serif, serif;
}


/*header*/

h1 {
    color: coral;
    font-size: 1.8em;
}

p {
    font-size: 0.9em;
    color: crimson;
}


/*
.header {
    background-color: cornflowerblue;
    font-size: 50px;
}*/