* {
    color: blue;
    background-color: #EEE;
}

.red {
    color: red;
    font-size: 40px;
    background-color: #DED;
}

.green {
    color: green;
    font-size: 60px;
    background-color: #EDF;
}

#test1 {
    color: purple;
    font-size: 70px;
    background-color: #FFF;
}

#test {
    color: gray;
    font-size: 60px;
}
